
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #dddce0;line-height: 1.5rem;
    font-weight: lighter;
    font-size: 120%;
    background: rgb(18,11,54);
    background: linear-gradient(100deg, rgb(11, 23, 54) 0%, rgba(15,23,42,1) 100%);
    scroll-behavior: smooth;
    @apply text-gray-200 text-[1rem];
}



#__next{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    font-style: oblique;
    font-weight: 600;
    color: rgb(214, 214, 214);
    text-shadow: 0px 0px 2px #757474;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}