article>a:link {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

article>a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

article>a:link:active {
    color: (internal value);
}

article>a:visited:active {
    color: (internal value);
}

article>address {
    display: block;
    font-style: italic;
}

article>area {
    display: none;
}

article>article {
    display: block;
}

article>aside {
    display: block;
}

article>b {
    font-weight: bold;
}

article>bdo {
    unicode-bidi: bidi-override;
}

article>blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

article>body {
    display: block;
    margin: 8px;
}

article>body:focus {
    outline: none;
}


article>caption {
    display: table-caption;
    text-align: center;
}

article>cite {
    font-style: italic;
}

article>code {
    font-family: monospace;
}

article>col {
    display: table-column;
}

article>colgroup {
    display: table-column-group
}

article>datalist {
    display: none;
}

article>dd {
    display: block;
    margin-left: 40px;
}

article>del {
    text-decoration: line-through;
}

article>details {
    display: block;
}

article>dfn {
    font-style: italic;
}

article>div {
    display: block;
}

article>dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

article>dt {
    display: block;
}

article>em {
    font-style: italic;
}

article>embed:focus {
    outline: none;
}

article>fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

article>figcaption {
    display: block;
}

article>figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

article>footer {
    display: block;
}

article>form {
    display: block;
    margin-top: 0em;
}

article>h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article>head {
    display: none;
}

article>header {
    display: block;
}

article>hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

article>html {
    display: block;
}

article>html:focus {
    outline: none;
}

article>i {
    font-style: italic;
}

article>iframe:focus {
    outline: none;
}

article>iframe[seamless] {
    display: block;
}

article>img {
    display: inline-block;
}

article>ins {
    text-decoration: underline;
}

article>kbd {
    font-family: monospace;
}

article>label {
    cursor: default;
}

article>legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

article>li {
    display: list-item;
}

article>link {
    display: none;
}

article>map {
    display: inline;
}

article>mark {
    background-color: yellow;
    color: black;
}

article>menu {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

article>nav {
    display: block;
}

article>object:focus {
    outline: none;
}

article>ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

article>output {
    display: inline;
}

article>p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

article>param {
    display: none;
}

article>pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}


article>q {
    display: inline;
}

article>q::before {
    content: open-quote;
}

article>q::after {
    content: close-quote;
}

article>rt {
    line-height: normal;
}

article>s {
    text-decoration: line-through;
}

article>samp {
    font-family: monospace;
}

article>script {
    display: none;
}

article>section {
    display: block;
}

article>small {
    font-size: smaller;
}

/* source	None.	
span	None.	 */
article>strike {
    text-decoration: line-through;
}

article>strong {
    font-weight: bold;
}

article>style {
    display: none;
}

article>sub {
    vertical-align: sub;
    font-size: smaller;
}

article>summary {
    display: block;
}

article>sup {
    vertical-align: super;
    font-size: smaller;
}

article>table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

article>tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

article>td {
    display: table-cell;
    vertical-align: inherit;
}

article>tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

article>th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

article>thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

/* time	None.	 */
article>title {
    display: none;
}

article>tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/* track	None.	 */
article>u {
    text-decoration: underline;
}

article>ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

article>var {
    font-style: italic;
}

/* video	None.	
wbr	None. */